@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

/* Fazer o body tomar todo o espaço da tela */
body {
    height: 100vh;
    width: 100vw;
}

h1, h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main {
    display: flex; /* Usar flexbox para fazer leiaute de 2 colunas*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: green; /* TEMPORÁRIO: facilitar visualização entre elementos durante desenvolvimento */
    height: 100%;
    width: 100%;
}

section {
    /* Usar flexbox em coluna para separar texto de formulário, tendando seguir leiaute da imagem de referência */
    display: flex; 
    flex-direction: column;
    flex-basis: auto; /* Preencher o restante do espaço disponível, forçando aside a sempre ser menor que section, seguindo leiaute de referência */
    gap: 50px;

    background-color: blue;/* TEMPORÁRIO: facilitar visualização entre elementos durante desenvolvimento */
    
    padding-top: 120px; /* Espaço entre topo da tela e formulário, seguindo imagem de referência */
}

.form-control-container {
    /* 
        Uso de flexbox + wrap para seguir leiaute de referência, criando 2 linhas de controles de formulário 

        OBS.: Me confundi, e acabei criando 2 COLUNAS de controles de formulário. Visualmente, acabou dando na mesma :P
    */
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 80px;
    align-items: center;
    margin-top: 40px;
    
    background-color: rosybrown; /* TEMPORÁRIO: facilitar visualização entre elementos durante desenvolvimento */
    
    height: fit-content; /* Não sei o que isso faz, nem lembro porque coloquei aqui, mas deve controlar o tamanho do input (?).*/
}

.form-control {
    flex: 0 0 calc(100%/2); /* Gambiarra para deixar 2 campos do formulário por linha (no caso, coluna, porque acabei me confundindo no CSS. Acaba que visualmente, dá na mesma XD) */
    
    background-color: white;/* TEMPORÁRIO: facilitar visualização entre elementos durante desenvolvimento */
}

.form-control > input {
    /* Padronizar tamanho de inputs */
    width: 275px; 
    height: 1.4rem; 
    font-size: 1.4rem;
    
    display: block; /* Não como funciona, mas faz o input ficar abaixo de sua label, seguindo o leiaute de referência */
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%;

    /* ARRUMAR: Por algum motivo, a imagem não aparece, porque 'main' acaba ficando na frente dela. */
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

div.logo {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    margin-top: 25vh;
}

div.logo img {
    height: 1em;
    margin-top: 0;    
    
    /* Deixar o texto ao lado da imagem do logo */
    display: inline-block;
    vertical-align: middle;
}

div.logo p {
    font-family: "Norse-bold";
    font-size: 100px;
}

aside footer {
    background-color: greenyellow; /* TEMPORÁRIO: facilitar visualização entre elementos durante desenvolvimento */
}

div.main-form-container {
    background-color: antiquewhite;/* TEMPORÁRIO: facilitar visualização entre elementos durante desenvolvimento */
    
    padding-top: 20px;
    padding-bottom: 20px;
}

fieldset > div.form-control:last-of-type {
    margin-top: 20px;
}

div.padding-left {
    padding-left: 60px;
}

form button[type="submit"]{
    margin: 20px, 0;
}

section > *:not(form), form > *{
    padding-left: 60px;
}